@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.title {
    font-family: "Lato",serif;
}

.text {
    
}

.image_container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 2px #FB9B29;
    padding: 0;
}

.image {
    border-radius: 50%;
}

