.container {
  padding: 0 2rem;
}

.contact_container {
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.services_container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-areas: 
                      "one"
                      "two"
                      "three";
}

.services_container>*:nth-child(1) {
  grid-area: one;
}

.services_container>*:nth-child(2) {
  grid-area: two;
}

.services_container>*:nth-child(3) {
  grid-area: three;
}

.service_banner,
.main_title {
  /* margin-top: 10rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;

  background-position: center center;
}

.main_title {
    background-image: url("../public/images/background_image.jpg");
}

.service_banner {
  background-image: url("../public/images/services_banner.jpg");
}

.main_title >*,
.service_banner>* {
  font-size: 3rem;
  text-shadow: 2px 2px 2px;
}



@media screen and (min-width:576px) {
  .services_container {
    grid-template-areas:"one two three"
  }

}










